.image-card{
    height: 500px;
    width: 500px;
    margin:auto;
    background-color: black;
}
.image-title{
    font-size: 25px;
    font-weight: 700;
    color: white;
    line-height: 35px;
    margin-bottom: 20px;
    text-align: center;
}
.image-card p{
    line-height: 25px;
    font-weight: 500;
    color: white;
}