

.Modal__card{
    overflow-x: hidden; 
    height: 390px;
    width: 390px; 
    overflow: hidden;
    margin-left: 100px;
    padding: 5px;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 10px;

}






.Modal__card__container p{
    width: 380px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;

}

.Modal__img__container{
    overflow: hidden;
    height: 200px;
    width: 380px;
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
}

.Modal__img__container img{
    width: 100%;
    object-fit: cover;
    padding-right: 5px;    
    height:100%;    
}


.cross{
    float: right;
    margin:0px 5px 9px;
    border: none;
    outline: none;
    padding: 0px ;
    cursor: pointer;
    background: #fff;
	border-color: #fff;
	border-style: solid;
        
}

.cross:focus{
    border: none;
    outline: none;
}

.icon{
    width: 20px;
    height: 20px;
    border: none;
    outline: none;

}